* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
   font-family: 'Red Hat Display', sans-serif;
   background-image: url(/images/pattern-background-desktop.svg);
   background-repeat: no-repeat;
   background-color: hsl(225, 100%, 98%);
}
/* start container */
.container {
    border-radius: 15px;
    background-color: white;
    display: flex;
    margin: 20px auto;
    flex-direction: column;
    width: 400px;
    height: 600px;
}
.container .image img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}
.container .content h2 {
    text-align: center;
    color: hsl(223, 47%, 23%);
    margin-top: 35px;
    font-weight: 900;
}
.content p {
    text-align: center;
    line-height: 1.5;
    margin-left: 35px;
    margin-right: 35px;
    font-weight: 500;
    font-size: 16px;
    color: hsl(224, 23%, 55%);
}
.content .plane {
    display: flex;
    background-color: hsl(225, 100%, 98%);
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 15px;
    height: 90px;
}
.content .plane img {
    width:50px;
    height: 50px;
    margin: 25px;
    margin-right: 10px;
}
.content .text {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
}
.content .text h4 {
    margin: 0px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 5px;
}
.content .text p {
    margin: 0px;
}
.content a {
    margin-left: 50px;
    margin-top: 35px;
    color: hsl(245, 75%, 52%);
}
.container .button_1 {
    margin-top: 25px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: calc(100% - 70px);
    height: 50px;
    border: none;
    border-radius: 10px;
}
.container .button_2 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 145px;
    height: 50px;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.container a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.container .button_1:hover {
    opacity: 0.7;
}
.container .button_2:hover {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
/* end container */

/* start mobile  */
@media (max-width:375px) {
    body {
        background-image: url(/images/pattern-background-mobile.svg);
    }
    .container {
        width: 335px;
    }
    .content a {
        margin-left: 15px;
    }
    .content .plane img {
        margin-left: 10px;
    }
    .content h4 {
        font-size: 15px;
    }
    .content .button_2 {
        margin-left: 110px;
    }
}
/* end mobile */